# fly.toml app configuration file generated for freetar-charlie on 2025-11-27T18:57:32-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'freetar-charlie'
primary_region = 'sjc'

[build]

[env]
  PORT = "22000"

[http_service]
  internal_port = 22000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
