{% extends "base.html" %}
{% block content %}

<div>
    <strong>HoltzTabs</strong> is <a href="https://charlieholtz.com">Charlie Holtz</a>'s fork of <a href="https://github.com/kmille/freetar">freetar</a>, an open source alternative front-end to ultimate-guitar.com<br>
    Running version v{{ version }}<br>
    License: <a href="https://github.com/cbh123/holtztabs/blob/main/LICENSE">GPL 3.0</a><br>
    Source Code: <a href="https://github.com/cbh123/holtztabs">https://github.com/cbh123/holtztabs</a><br>
    Any problems? Wishes? Create an <a href="https://github.com/cbh123/holtztabs/issues/new">issue</a>.<br>
</div>

{% endblock %}
